In [1]:
from q2_ref import *

In [57]:
w_path = "./data/b/w-100-40-4.csv"
b_path = "./data/b/b-100-40-4.csv"

X_train = np.array([[-1, 1, 1, 1, -1, -1, 1, -1, 1, 1, -1, -1, 1, 1]]).astype(np.float128)
T_train = np.array([[0, 0, 0, 1]])
layer_dims = [X_train.shape[1]]
layer_dims.extend([100, 40])
layer_dims.extend([T_train.shape[1]])
layers = build_layers(layer_dims)

weights = pd.read_csv(w_path, header=None).drop([0], axis=1)
weights = weights.values
biases = pd.read_csv(b_path, header=None).drop([0], axis=1)
biases = biases.values

In [58]:
# weights[14:15]

In [59]:
for (idx, l) in enumerate(layers):
    if idx % 2 == 0:
        num_rows = layer_dims[idx//2]
        weights_block = weights[:num_rows]
        weights_usable = weights_block[:,~np.isnan(weights_block).all(0)]
        layers[idx].W = weights_usable
        weights = np.delete(weights, slice(0, num_rows), axis=0)
        
        biases_block = biases[0]
        biases_usable = biases_block[:, ~np.isnan(biases_block).all(0)]
        biases_usable = biases_usable[~np.isnan(biases_usable).all(1)].flatten()
        layers[idx].b = biases_usable
        biases = np.delete(biases, 0, axis=0)

for l in layers:
    print(l)

(14, 100)
(100,)
[-0.63515496 -0.68102014 -1.50158572 -0.36892512 -0.35299936  0.12738439
  0.51753134  0.74783683 -0.80937755 -0.6326859  -0.44665483 -0.68692023
  0.20931008  0.48030823  0.1385172  -0.79010016 -0.38585034  0.55766618
  0.3433474   0.06734387 -0.61580515 -0.91060323  2.17104316 -0.05055463
  1.55235219  0.79615581 -0.54516947 -1.8707031  -0.56236541 -1.78359485
  0.07063438 -0.4745371   0.25230587 -1.11092496 -0.08980446 -0.83654934
 -0.41440707  0.85330921  0.61422664 -0.23856676 -1.05528796  0.43343547
  1.76411951  1.19764614 -0.94886827 -0.46865168 -1.26019132  1.58028519
 -0.55569267  0.64981532  0.83796829  1.8300091   0.26930639 -1.84875643
 -0.74980503 -0.26773301  0.63126999 -0.08714293 -0.06924902 -0.16782281
  0.6494987   0.62043548  0.14440846  1.1600455  -1.05437219  0.26477793
 -0.67461497  1.32087278 -0.95990545 -0.80743057 -0.3282226   0.91708761
 -0.31676835  0.92281324 -0.89297682  1.93504393  0.91986132  1.06622767
 -1.94102836 -1.40802598  1.67250633  1.13577557  0.34432349 -0.64709413
 -1.02792585 -1.8707844   0.66110045 -1.80463302  1.16553581  0.66385794
  0.15607753  0.41361356  1.21111631 -0.17612132  0.94243783  0.63343585
 -0.1138803   0.45799664 -0.61556059  0.38528553]
(100, 40)
(40,)
[ 0.66545147  1.42655563  1.15807724 -0.49619114 -0.01035039  0.6172055
  0.33629721 -0.35823798 -0.9950155  -1.43977821  0.36476439  0.27952403
 -0.35806641  0.01473876  2.00852013  0.61419076  1.49516761  0.05475781
 -0.78674197  0.45881724  0.11117996 -1.45264781  0.9403379  -0.67439246
  0.08579944  0.56813127 -0.097896    1.10255766 -0.33832964 -0.90882677
  0.79865068  0.01966669  2.02008724 -0.44655094 -0.22028461 -0.39466101
 -2.55315113 -0.30545026  1.63600707 -1.01111007]
(40, 4)
(4,)
[1.50888944 2.03829694 0.94560856 1.19386733]
Linear Layer: 14, 100
Relu Layer
Linear Layer: 100, 40
Relu Layer
Linear Layer: 40, 4
Softmax Layer

In [60]:
activations = forward_step(X_train, layers)
param_grads = backward_step(activations, T_train, layers)

In [14]:
import pandas as pd
import numpy as np
true_net1_w = pd.read_csv("./data/b/true-dw-28-6-4.csv", header=None)
true_net1_b = pd.read_csv("./data/b/true-db-28-6-4.csv", header=None)
net1_w = pd.read_csv("./output/dW-28_6-4.csv", header=None)
net1_b = pd.read_csv("./output/db-28_6-4.csv", header=None)

In [15]:
true_net1_w.head(2)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,413.003571,0.0,-718.752321,-240.512485,218.250817,134.21286,23.57286,351.388177,0.0,0.0,...,32.686647,0.0,0.0,0.0,0.0,0.0,-396.157357,-25.161026,-117.639215,102.535937
1,-413.003571,0.0,718.752321,240.512485,-218.250817,-134.21286,-23.57286,-351.388177,0.0,0.0,...,-32.686647,0.0,0.0,0.0,0.0,0.0,396.157357,25.161026,117.639215,-102.535937

In [16]:
net1_w.head(2)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,100.371419217309079286,0.0,-641.386303,-679.396269,111.768375,0.0,-222.895006,340.151065,0.0,0.0,...,-16.642143,0.0,-393.7886,0.0,0.0,12.724673,0.0,31.957202,0.0,0.0
1,-100.371419217309079286,0.0,641.386303,679.396269,-111.768375,0.0,222.895006,-340.151065,0.0,0.0,...,16.642143,0.0,393.7886,0.0,0.0,-12.724673,0.0,-31.957202,0.0,0.0

In [17]:
true_net1_w.equals(net1_w)

False

In [18]:
diff_net1_w = true_net1_w - net1_w

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [12]:
np.nansum(diff_net1_w.values)

5.3222617285575424e-14